.mobileBottomLayout {
    display: none;
}

.desktopBottomLayout {
    display: block;
}

.bottomDivider {
    width: 85%;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.aboutDivider {
    font-family: "Mexicanero", serif;
    font-size: 120%;
    font-variant: small-caps;
    font-weight: 200;
    margin: 0;
    line-height: 0.8;
    white-space: nowrap;

    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px 0px 0px 20px;
    background-color: #D4C3AA;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-wrap-mode: wrap;
}

/* Bottom Section */
.bottomSection {
    width: 85%;
    min-height: 840px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 20px;
    row-gap: 20px;

    display: grid;
    grid-template-columns: 30% 40% auto;
    grid-template-rows: 30% 40% auto;
    grid-template-areas: 
        "pic description box"
        "pic description box2"
        "footer footer box2";
}

.aboutPicBox {
    grid-area: pic;
    width: auto;
    height: 100%;
    margin-top: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.aboutPic {
    grid-area: pic;
    width: 100%;
    height: 100%;

    object-fit: fill;
}

.aboutDescription {
    grid-area: description;
    width: auto;
    height: 100%;
    margin-top: 20px;
    border-radius: 20px;

    background-color: #f8f1e4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottomAboutDivider {
    position: relative;
    grid-area: box;
    width: auto;
    height: 100%;
    border-radius: 0px 0px 20px 20px;

    background-color: #D4C3AA;

}

.bottomAboutDivider::after {
    content: "";
    position: absolute;

    top: 0;
    left: -20px;

    width: 20px;
    height: 20px;

    background-color: transparent;
    border-top-left-radius: 20px;

    box-shadow: -15px -15px 0 15px #D4C3AA;

    transform: scaleX(-1);
}

.topFooterDivider {
    grid-area: box2;
    width: auto;
    height: auto;
    border-radius: 20px;

    background-color: #D4C3AA;
}

footer {
    grid-area: footer;
    width: auto;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;

    background-color: #D4C3AA;

    display: flex;
    justify-content: center;
    align-items: center;
}