.mobileMiddleLayout {
    display: none;
}

.desktopMiddleLayout {
    display: block;
}

.middleDivider {
    width: 85%;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.picturesDivider {
    font-family: "Mexicanero", serif;
    font-size: 120%;
    font-variant: small-caps;
    font-weight: 200;
    margin: 0;
    line-height: 0.8;
    white-space: nowrap;

    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px 20px 0 20px;
    background-color: #D4C3AA;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-wrap-mode: wrap;
}

.heart {
    font-size: 45px;
}

/* Middle Section */
.middleSection {
    width: 85%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 20px;

    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 85% auto;
    grid-template-areas: 
        "album zoom"
        "album buffer";
    row-gap: 20px;
    column-gap: 20px;

    /* border-style: solid;
    border-width: 2px;
    border-color: white; */
}

.pictureAlbum {
    grid-area: album;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;

    width: 100%;
    height: 800px;
}

.pictureBoxes {
    width: 17%;
    height: 20%;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.pictureVariant {
    width: 100%;
    height: 100%;

    object-fit: fill;
    cursor: pointer;
}

.pictureVariant:hover {
    transform: scale(1.05);
}

.zoomPicture {
    grid-area: zoom;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: auto;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;

    background-color: #D4C3AA;  

    z-index: 1;
}

.zoomPicture::after {
    content: "";
    position: absolute;

    top: 0;
    left: -20px;

    width: 20px;
    height: 20px;

    background-color: transparent;
    border-top-left-radius: 20px;

    box-shadow: -15px -15px 0 15px #D4C3AA;

    transform: scaleX(-1);

    z-index: 1;
}

.zoomPic {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;

    width: 95%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    object-fit:fill;

    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.pictureDescription {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-wrap-mode: wrap;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
}

.bottomZoomPicture {
    grid-area: buffer;
    position: relative;

    border-radius: 20px 20px 0px 0px;
    width: auto;

    height: auto;
    min-height: 120px;
    background-color: #D4C3AA;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

.bottomZoomPicture::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: -20px;

    width: 20px;
    height: 20px;

    background-color: transparent;
    border-top-left-radius: 20px;

    box-shadow: -15px -15px 0 15px #D4C3AA;

    transform: scale(-1);
}

.feyCreativesLink {
    padding-top: 25px;
    padding-bottom: 10px;

    z-index: 2;
}