html {
    background: linear-gradient(to bottom, #522626 0%, #431818 30%, #1C0A0A 70%);
    background-attachment: fixed;
}

.mobileTopLayout {
    display: none;
}

.desktopTopLayout {
    display: block;
}

/* Header section */
.headerBox {
    width: 85%;
    min-height: clamp(150px, 13vw, 230px);
    margin-left: auto;
    margin-right: auto;

    background-color: #D4C3AA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;
    padding: 20px 0 18px;
}

.logoText {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;

    transform: translateY(6px);
}

.title {
    font-family: "Mexicanero", serif;
    font-size: clamp(4.5rem, 10vw, 8rem);
    font-variant: small-caps;
    font-weight: 400;

    margin: 0;
    line-height: 0.8;
    white-space: nowrap;
}

.underTitle {
    font-family: "Mexicanero", serif;
    font-size: clamp(1.8rem, 3.5vw, 3rem);
    font-weight: 400;

    margin: 0;
    line-height: 1;
    text-align: right;
}

/* Intro Section */
.topLayout {
    width: 85%;
    min-height: 440px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 100px 15% auto;
    grid-template-rows: 60% auto;
    grid-template-areas: 
        "icons buffer pic"
        "box box pic";
    column-gap: 20px;
    row-gap: 20px;
}

.underBox {
    position: relative;
    grid-area: icons;

    background-color: #D4C3AA;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;

    z-index: 1;
}

.underBox::after {
    content: "";
    position: absolute;

    top: 0;
    right: -20px;

    width: 20px;
    height: 20px;

    background-color: transparent;
    border-top-left-radius: 20px;

    box-shadow: -15px -15px 0 15px #D4C3AA;
    z-index: 1;
}

.iconsPictures {
    grid-area: icons;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background: none;
    cursor: pointer;

    text-decoration: none;
}

.maps {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.instagram {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.facebook {
    width: 40px;
    height: 40px;
    object-fit: fill;
}

.ebay {
    width: 40px;
    height: 40px;
    object-fit: fill;
}

.iconsPictures:hover {
    background-color: rgba(255, 255, 255, 0.0);
    transform: scale(1.1);
}

.topsmallQuoteBox {
    grid-area: buffer;

    position: relative;

    background-color: #f8f1e4;
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;

    line-height: 1.1;
}

.open {
    width: 100%;
    height: auto;
    text-align: center;

    display: flex;
    justify-content: center;
    text-align: center;
}

.week {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    text-align:left;
    font-size: 90%;
}

.topsmallQuoteBox::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: -20px;

    width: 20px;
    height: 20px;

    background-color: transparent;
    border-top-left-radius: 20px;

    box-shadow: -15px -15px 0 15px #f8f1e4;

    transform: scale(-1);
}

.smallQuoteBox {
    grid-area: box;

    width: 100%;
    margin-bottom: 0px;
    background-color: #f8f1e4;
    border-radius: 20px 0 20px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 150%;
    line-height: 0;
}

.pictureSection {
    grid-area: pic;
    min-height: 400px;
    max-height: 800px;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.introPictures {
    width: 100%;
    min-height: 400px;
    max-height: 800px;

    object-fit: fill;
}

.linesTop {
    height: 3px;
    width: 80%;
    background-color: #EBB261;
    border-radius: 2px;
    box-shadow: 1px 4px 6px black;
    margin-top: auto;
    margin-bottom: 10px;

    z-index: 2;
}

.linesBottom {
    height: 3px;
    width: 80%;
    background-color: #EBB261;
    border-radius: 2px;
    box-shadow: 1px 4px 6px black;
    margin-top: 10px;
    margin-bottom: auto;

    z-index: 2;
}

